* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #f2f2f2;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  padding: 5px;
}

.container {
  display: grid;
  gap: 20px;
  width: 300px;
  margin: 20px auto;
}

main .content-section {
  display: none;
}

main .content-section.active {
  display: block;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

#bookData {
  background-color: rgb(243, 233, 252);
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 4px;
}

#bookForm {
  display: grid;
  position: relative;
}

#bookForm input {
  background-color: rgb(228, 203, 252);
  padding: 7px;
  border: none;
  outline: none;
}

#bookForm button {
  position: absolute;
  right: 0;
  bottom: -1rem;
  width: 25%;
  padding: 5px;
} 

.book-lists {
  display: flex;
  justify-content: space-between;
  margin: 0 15px ;
  align-items: center;
}

.book-lists button {
  padding: 5px;
}
